{% extends "layout.html" %}
{% block content %}
    <h1>BloomTech Labs</h1>
    <h2>Expected Number of Learners</h2>
    <form id="form" method="post" action="{{ url_for('home') }}">
        <p><label>
            Number of Web Learners: <input name="n_web" value="{{ n_web }}"/>
        </label></p>
        <p><label>
            Number of DS Learners: <input name="n_ds" value="{{ n_ds }}"/>
        </label></p>

        <button type="submit" id="submit" name="submit">
            Build Teams
        </button>
        <br class="clear"/>
    </form>

    {% if web_teams %}
        <h2>Totals</h2>
        <h3>
            Number of Web Only Teams: {{ web_only }}<br>
            Number of Web & DS Teams: {{ ds_teams }}<br>
            ----------------------------<br>
            Total Number of Teams: {{ web_teams }}
        </h3><br>

        <h2>Statistics</h2>
        <h3>
        Average Web Developers per Team: {{ ave_web }} ± 2<br>
        Average DS Developers per DS Team: {{ ave_ds }} ± 2
        </h3>
    {% endif %}
{% endblock %}
